.center {
    text-align: center;
}
.hide {
    display: none;
}
body {
    margin: 0 auto;
    width:70%;
}

.moving-gif {
    display: block;
    margin: 0 auto;
}

/* .segment {
    margin: 0 auto;
    width: 70%;
} */